/* .banner {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
}

.banner h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .banner {
        min-height: 30vh;
    }

    h1 {
        font-size: calc(1.525rem +3.3vw);
    }
} */
.man-img {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}

.bg-carousel {
    height: 500px;
}


/* foooter */

.custom-search {
    position: relative;
    width: 300px;
}

.custom-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

.custom-search-botton {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 0;
    background: #5a585b;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 2;
}